MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=mypass
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123


HOST_LOG="localhost"
DB_LOG="DB_LOG"
PORT_LOG="1433"
USER_LOG="sa"
PASSWORD_LOG="YourStrongP@ssw0rd!"


HOST_S3="172.40.0.28"
PORT_S3="9000"
ACCESS_KEY_S3="minioadmin"
SECRET_KEY_S3="minioadmin123"
CHAVE_API_YOUTUBE=""


HOST_TRINO="172.40.0.32"
PORTA_TRINO="8080"
USER_TRINO="ADMIN"
CATALOG_TRINO="system"
SCHEMA_TRINO="runtime"

